.nav-hidden {
    height: 0
}

h5 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.flow-layout>div {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}

.container {
    margin-bottom: 128px;
}

.container h2,
.container h3 {
    margin-top: 64px;
}

.container table {
    margin-top: 32px;
    margin-bottom: 32px;
}

.container th,
.container td {
    padding: 4px;
}

.container img {
    max-width: 100%;
    height: auto;
}