.nav-hidden {
    height: 0
}

h5 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

.flow-layout>div {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}

.container {
    margin-bottom: 128px;
}

.container h2,
.container h3 {
    margin-top: 64px;
}

.container table {
    margin-top: 32px;
    margin-bottom: 32px;
}

.container th,
.container td {
    padding: 4px;
}

.container img {
    max-width: 100%;
    height: auto;
}

/* Undo changes in Bootstrap theme */
.nav-underline .nav-link {
    border-bottom: 0;
}

.navbar[data-bs-theme="light"] {
    --bslib-navbar-light-bg: #7D19BF;
    --bs-navbar-color: rgba(255, 255, 255, 0.65);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.8);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.3);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
}

/* Fix slider inputs floating above dropdown menu */
.irs--shiny .irs-bar {
    z-index: 1;
}

.irs--shiny .irs-handle {
    z-index: 1;
}